# > App
APP_NAME=Starter

# > Database
DB_URL=jdbc:postgresql://db/starter
#DB_URL=jdbc:mysql://localhost:9911/starter
#DB_USERNAME=postgres
DB_USERNAME=root
DB_PASSWORD=root
#DB_PASSWORD=
DB_DIALECT=org.hibernate.dialect.PostgreSQLDialect
#DB_DIALECT=org.hibernate.dialect.MySQLDialect

# > Server
PORT=8080


# > TimeZone for logs  link for TimeZones displayed in List column TZ identifier https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Belgrade
