# > App
APP_NAME=Starter

# > Database
DB_HOSTNAME=localhost
DB_PORT
#DB_URL=jdbc:postgresql://localhost:5434/starter
DB_URL=jdbc:mysql://localhost:9911/starter
#DB_USER=postgres
DB_USER=root
#DB_PASSWORD=root 
DB_PASSWORD=
#DB_DIALECT=PostgreSQLDialect
DB_DIALECT=MySQLDialect

# > Server
PORT=8080
